.heading{
    box-shadow: 5px 5px 30px grey;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    margin: 0px;
}

.note{
    color: black;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    box-shadow: 5px 5px 5px grey;
    color: white;
    background-color: red;
    text-align: center;
    width: 100%;
    line-height: 2;
    font-size: 20px;
    font-weight: bold;
}

canvas{
    box-shadow: 5px 5px 10px black;
    border: 5px solid grey;
    border-radius: 10px;
}